.app-about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-right: 2vw;
    margin-left: 2vw;
}

.app-about h2{
 margin: 0px 2vw;
 font-style: italic;
 line-height: 2rem;
}

.app-about p{
 line-height: 1.5rem;
}

@media (min-width: 660px){
    .app-about{
        margin-right: 10vw;
        margin-left: 10vw;
    }
    
    .app-about h2{
     margin: 0px 100px;
    }  
}