.book-app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    gap: 20px;
    color: rgb(46, 46, 46);
}

.book-filter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    width: 100%;
    gap: 20px;
}

.book-filter input:first-child {
    flex: 1;
}

@media (min-width: 780px) {
    .book-filter {
        flex-direction: row;
        gap: 20px;
    }
}

.book-filter>* {
    padding: 10px 20px;
    font-family: inherit;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
}

.filter-add-book-container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    gap: 20px;
}


.filter-add-book-container a {
    background-color: rgb(26, 196, 11);
    color: white;
    width: 100%;
    padding: 10px 20px;
    border-radius: 10px;
}

@media (min-width: 780px) {
    .filter-add-book-container {
        flex-direction: row;

    }

    .filter-add-book-container a {
        width: 120px;
    }
}

.filter-add-book-container a:hover {
    background-color: rgb(69, 224, 55);
}

.book-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 2rem;
}

.book-preview {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 4px 0px #00000038;
    border-radius: 5px;
    padding: 5px;
    width: 200px;
    text-align: center;
    padding: 10px;
    height: 100%;
    width: 100%;
    transition: 0.3s;
    cursor: pointer;
}

.book-preview img {
    max-height: 250px;
}

.book-preview h3 {
    text-transform: capitalize;
}

.book-preview:hover {
    box-shadow: 0 0 4px 1px #ffffff83;
    background-color: rgb(255, 255, 255);
    transform: scale(1.05);
}