
.note-gallery {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.search-note input {
    font-family: inherit;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    width: 100%;
    font-size: 1.3rem;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 4px 0px #00000013;
    color: rgb(46, 46, 46);
}

.note-list {
    columns: 1;
    column-gap: 1.5vw;
}

@media (min-width:550px) {
    .note-list {
        columns: 2;
    }
}

@media (min-width:750px) {
    .note-list {
        columns: 3;
    }
}

@media (min-width:1050px) {
    .note-list {
        columns: 4;
    }
}

@media (min-width:1250px) {
    .note-list {
        columns: 5;
    }
}