.filter-search-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1vw;
    border-radius: 5px;
    padding-inline-end: 10px;
    background-color: white;
    border-radius: 5px;
}

.email-search {
    display: inline-block;
    width: 100%;
    border-radius: 5px;
}

.email-search input {
    font-family: inherit;
    font-size: 1.3rem;
    color: rgb(44, 44, 44);
    background-color: white;
    padding: 10px 20px;
    border: none;
    width: 100%;
    font-size: 1.3rem;
    border-radius: 5px;
}

.sort-container {
    display: flex;
    align-items: center;
    gap: 5px;
}

.sort-container>* {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.3rem;
    color: rgb(44, 44, 44);
    transition: 0.3s;
}

.sort-container>*:hover {
    color: #04b0d8;
}

.email-list-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 20vw;
}

.email-list {
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.mail-preview {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 2px;
    box-shadow: 0 0 3px 0px #46464640;
    max-height: 80px;
    transition: 0.3s;
}

.mail-preview:hover {
    box-shadow: 0 0 3px 3px #0000002a;
    z-index: 1;
}

.mail-preview:hover .mail-preview-btn-container {
    display: flex;
}

.mail-preview:hover .mail-preview-date {
    display: none;
}

.mail-preview-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    font-size: 0.7rem;
    flex: 1;
    width: 70%;
    height: 2rem;
    color: rgb(56, 56, 56);
}

.mail-preview-subject {
    color: rgb(44, 44, 44);
    font-size: 1rem;
    min-width: 20vw;
    max-width: 20vw;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.mail-preview-body {
    font-size: 0.8rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    flex-grow: 1;
}

.mail-preview-date{
    display: flex;
    justify-content: flex-end;
    text-align: end;
    flex: 1;
    white-space: nowrap;
}

.mail-preview-btn-container {
    display: none;
    justify-content: center;
    align-items: center;
}

.mail-preview-btn-container>* {
    transition: 0.3s;
}

.mail-preview button {
    border: none;
    background-color: transparent;
    font-size: 1.1rem;
    opacity: 0.7;
    cursor: pointer;
}

.mail-preview-btn-container .star-btn:hover {
    color: goldenrod;
}

.mail-preview-btn-container .remove-btn:hover {
    color: rgb(199, 11, 11);
}

.mail-preview-btn-container .read-btn:hover {
    color: rgb(11, 23, 199);
}

.star-on {
    color: goldenrod;
}

.read-on {
    background-color: rgba(255, 255, 255, 0);
}