



.myProgress {
    width: 90%;
    margin: 0 auto;
    background-color: #e9ecef;
    height: 20px;
    font: 1rem;
    position: relative
}

.myProgress p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.myBar {
    width: 1%;
    height: 20px;
    text-align: center;
    background-size: 20px 20px;
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent)
}

/* .ca{
   background-color:rgb(9,2,184,92);
    min-width:1%; 
    width:90%; 
} */
