header {
    position: fixed;
    top: 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 15vh;
    background-color: rgb(27, 27, 27);
    padding: 0vw 5vw;
    box-shadow: 0 0 8px 1px #00000085;
    z-index: 5;
}

@media (min-width: 850px) {
    header {
        flex-direction: row;
        justify-content: space-between;
    }
}

.header-full-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

header img {
    height: 2.5rem;
    width: 3.5rem;
    filter: contrast(0%) brightness(1.7);
    object-fit: contain;
}

header h1 {
    font-size: 1.8rem;
    color: #04b0d8;
    text-align: center;
}

header h2 {
    font-size: 1rem;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3vw;
    list-style: none;
    color: white;
    font-size: 1rem;
    font-weight: 600;
}

@media (min-width: 850px) {
    header img {
        height: 4rem;
        width: 5rem;
    }
    
    header h1 {
        font-size: 2.5rem;
    }
    
    header h2 {
        font-size: 1.3rem;
    }
    
    .navbar {
        font-size: 1.5rem;
    }
}

.navbar>*:hover {
    color: #04b0d8;
}

.navbar a.active {
    color: #04b0d8;
}