.home-page {
    padding-top: 15vh;
    height: 90vh;
    margin: 0%;
}

@media (min-width: 500px) {
    .home-page {
        padding-top: 10vh;
    }
}

.hero {
    display: flex;
    flex-direction: column-reverse;
}

.home-info-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    height: 80vh;
    /* box-shadow: 0 0 3px 1px black; */
}

.home-info-container>h1 {
    text-align: center;
    padding-top: 20px;
    grid-column-start: 1;
    grid-column-end: 4;
}

.home-info-container>p {
    font-size: 1.5rem;
    text-align: center;
    padding: 0px 100px;
    grid-column-start: 1;
    grid-column-end: 4;
}

.home-info-container>a {
    align-self: flex-start;
    background-color: #04b0d8;
    color: white;
    border-radius: 20px;
    font-family: 'EurocratW01-bold', 'Rubik', 'Segoe UI';
    padding: 0.5vw 4vw;
}

.home-info-container>a:hover {
    animation: home-btn-animation 0.5s;
    background-color: #04b1d800;
    color: #04b0d8;
    box-shadow: 0 0 0 2.5px #04b0d8;
}

.home-info-img {
    height: 200px;
    object-fit: contain;
}

.page-bundle {
    height: 350px;
    grid-column-start: 1;
    grid-column-end: 4;
}

@keyframes home-btn-animation {
    25% {
        transform: rotate(5deg);
    }
    75% {
        transform: rotate(-5deg);
    }
    100% {
        transform: rotate(0deg);
    }
}