
.email-list{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.mail-preview{
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 10px;
}

.mail-preview-subject{
    color: rgb(0, 0, 0);
}
.mail-preview-body{
    color: rgb(95, 95, 95);
}